/* Coolors Exported Palette - coolors.co/7fe2d0-bf9aca-8e4162-41393e-eda2c0 */

/* HSL */
$color1: hsla(169%, 63%, 69%, 1);
$color2: hsla(286%, 31%, 70%, 1);
$color3: hsla(334%, 37%, 41%, 1);
$color4: hsla(323%, 7%, 24%, 1);
$color5: hsla(336%, 68%, 78%, 1);

/* RGB */
$color1: rgba(127, 226, 208, 1);
$color2: rgba(191, 154, 202, 1);
$color3: rgba(142, 65, 98, 1);
$color4: rgba(65, 57, 62, 1);
$color5: rgba(237, 162, 192, 1);