/* Coolors Exported Palette - coolors.co/331832-eee5e9-e40066-7c7c7c-b5ffe1 */

/* HSL */
$color1: hsla(302%, 36%, 15%, 1);
$color2: hsla(333%, 21%, 92%, 1);
$color3: hsla(333%, 100%, 45%, 1);
$color4: hsla(0%, 0%, 49%, 1);
$color5: hsla(156%, 100%, 85%, 1);

/* RGB */
$color1: rgba(51, 24, 50, 1);
$color2: rgba(238, 229, 233, 1);
$color3: rgba(228, 0, 102, 1);
$color4: rgba(124, 124, 124, 1);
$color5: rgba(181, 255, 225, 1);